{% for post in posts %}

    <h2>
        <a href="/posts/{{ post.id }}/">
            {{ post.title }}
        </a>
    </h2>

    <p>{{ post.content }}</p>

    <small>
        Author: {{ post.author }}
    </small>

    <hr>

{% endfor %}

{% if user.is_authenticated %}

    <p>
        Welcome, {{ user.username }}
    </p>

    <a href="/create/">
        Create Post
    </a>

    <br><br>

    <form action="/accounts/logout/" method="POST">
        {% csrf_token %}
        <button type="submit">
            Logout
        </button>
    </form>

{% else %}

    <a href="/accounts/login/">
        Login
    </a>

    <a href="/accounts/register/">
        Register
    </a>

{% endif %}

<hr>