<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>

    <h1>{{ post.title }}</h1>

    <p>{{ post.content }}</p>

    <small>Author: {{ post.author }}</small>
    <br>
    <small>Published: {{ post.created_at }}</small>

    {% if request.user == post.author %}

        <a href="/posts/{{ post.id }}/edit/">
            Edit
        </a>

        <br><br>

        <a href="/posts/{{ post.id }}/delete/">
            Delete
        </a>

    {% endif %}
</body>
</html>